<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="/static/index/index.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% include "index/nav.html" %}
      <hr>
      {% for article in article_list %}
          <p><a href="{% url 'detail' %}?id={{ article.id }}">{{ article.title }}</a></p>
          <p>{{ article.category_name }}</p>
          <p>{{ article.summary }}</p>
          <p>{{ article.image }}</p>
          <p>{{ article.summary }}</p>
          <p>{{ article.click_number }}</p>
      {% endfor %}
</body>
</html>